@import "tailwindcss";

@theme {
  --breakpoint-mb: 375px;
  --breakpoint-tb: 768px;
  --breakpoint-dk: 1440px;
}

.log {
  background: linear-gradient(180deg, #036073 0%, #05b4d9 100%);
}

body {
  background-color: #f8e7f3;
}
